# Apt-Cache Server
d-i mirror/http/proxy string http://10.173.119.78:3142/

# Primary instalation task
tasksel tasksel/first multiselect Basic Ubuntu Server


# Network name preseed config
d-i netcfg/get_hostname string DLPBMM1-ubuntu-test-deploy
d-i netcfg/get_domain string   cos.ucf.edu
