#############################################################################
%post --interpreter=/bin/bash
# setup authorized_keys for root
mkdir                /root/.ssh
chmod 700            /root/.ssh
touch                /root/.ssh/authorized_keys
chmod 600            /root/.ssh/authorized_keys
cat << END-OF-KEYS > /root/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAzIO6rkj+CGBs4caGagQgZb18JALME2x8dD1HHgEjNJ2waB/MAsEPa80QZm1hQydjt5T5Sz2Ni9sayeOYAXHNLydmzoOWqw2Hd0I9LiSx6Kw9c7D+27RDjXgEjo6cCAgDRH9IL6tqVWzwGAYb3hx7O+u4ZYuByYzzClvzFpfVFOtffS+f/8qQfGHElCP3RZSZaNzy5HAx2P4Y5cRKhGLDyitOTe1aBAMUVjDQybSMc8nV0Z7T8A7pa+6/JncxqYvTjYY6YlVwiZesImjjo2tkvH1QT5N2z6lc2NTePF5FI+INiO9UJvqRXdTxxdtm2kwbk4sAAbvWEDWOFPh+53RTQQ== root@pxe.pig.pie



END-OF-KEYS


ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCq+kUazW4fngCqVlPuJPsJ78UWypV88r2djjkuVqmrhzVYmQMnIZyY2Yn2l0YDJ/yn99CVxwnPMZzw+XoqvNLZZ7Kj5HPhaMH4OPt37i0tRwbKY5hpo/RPTLRVPfCYcedr52LMQV1LVrKyPf8mg12vz9v/IM0HvYosttQp58ncV+7JCp0GhdXne3sz95rI2QY427kbws1hv2Jxh9MJb9dLd0keXQvK89uxsErwW0FrqF9vXu7F905BzREe0oj5Kn8FQ421wi/Gacvab6fXR4r+Sf27MkucbHSAo4JUcdNhOQaHluJhXbjLFOmLjsS9xwdHAMaGJ3RpIm9k/QLC9bfp michaelsalisbury@gmail.com
