KERNEL=="sd?", SUBSYSTEM=="block", ACTION=="add",    RUN+="/opt/udev/bin/vbox_launcher.sh disown add    %k $name %p"
KERNEL=="sd?", SUBSYSTEM=="block", ACTION=="remove", RUN+="/opt/udev/bin/vbox_launcher.sh disown remove %k $name %p"
#DontRemoveThisRow#
