%post --interpreter=/bin/bash
function main(){
	cat /tmp/ks-script
	set -x

	# This is the trick â automatically switch to 6th console
	# and redirect all input/output
	exec < /dev/tty6 > /dev/tty6 2> /dev/tty6
	chvt 6

	# Interact with the install
	echo Welcome to your kickstart post instalation chrooted interactive shell...
	/bin/bash

	# Then switch back to Anaconda on the first console
	chvt 1
	exec < /dev/tty1 > /dev/tty1 2> /dev/tty1
}

main 2>&1 | /usr/bin/tee /root/post.chroot.interactive.cfg
%end
