%pre
# This is the trick â automatically switch to 6th console
# and redirect all input/output
exec < /dev/tty6 > /dev/tty6 2> /dev/tty6
chvt 6

# Interact with the install
echo Welcome to your kickstart pos instalation interactive shell...
echo There is job control hence Ctrl-c will not work.
echo Jump to tty2 or tty3 for job control.  Ctrl + Alt + F2'|'F3.
/bin/sh

# Then switch back to Anaconda on the first console
chvt 1
exec < /dev/tty1 > /dev/tty1 2> /dev/tty1
%end
