#############################################################################
%pre
/bin/sh << END-OF-WGET > /tmp/wget.log 2>&1
baseURL=\$(sed 's|.*ks=\([^ ]*\)/[^/ ]*.*|\1|p;d' /var/log/syslog | uniq)
echo          \${baseURL}
echo ---------------------------------------------------------------
wget -P  /lib \${baseURL}/wget-12.10/libssl.so.1.0.0
wget -P  /lib \${baseURL}/wget-12.10/libidn.so.11
wget -P  /tmp \${baseURL}/wget-12.10/wget
chmod +x /tmp/wget
/tmp/wget -r -nd -l 1 --cut-dirs 1 -A cfg,deb,sh -P /tmp \${baseURL}
END-OF-WGET
%end
