#############################################################################
%pre
/bin/sh << END-OF-PRE > /tmp/pre.log 2>&1
baseURL=\$(sed 's|.*ks=\([^ ]*\)/[^/ ]*.*|\1|p;d' /var/log/syslog | uniq)
echo          \${baseURL}
wget -P  /lib \${baseURL}/wget-12.10/libssl.so.1.0.0
wget -P  /lib \${baseURL}/wget-12.10/libidn.so.11
wget -P  /tmp \${baseURL}/wget-12.10/wget
chmod +x /tmp/wget
#############################################################################
opts="-r -nd -l 1 --cut-dirs 1 -A deb,exp,sh,cfg,sed,crt"
for f in builder functions defaults deploys DEB preseed; do
	mkdir /tmp/\$f
	/tmp/wget \$opts -P /tmp/\$f \${baseURL}/\$f
done
env
END-OF-PRE
%end
