KERNEL=="sd?", SUBSYSTEM=="block", ACTION=="add",    RUN+="/opt/udev/udev.sh add    %k $name %p"
KERNEL=="sd?", SUBSYSTEM=="block", ACTION=="remove", RUN+="/opt/udev/udev.sh remove %k $name %p"
#DontRemoveThisRow#
