Package: ia32-crossover
Version: 12.1.0-1
Architecture: amd64
Maintainer: CrossOver Packager <info@codeweavers.com>
Installed-Size: 149196
Depends: libc6-i386, ia32-libs, lib32gcc1, lib32nss-mdns, lib32z1, perl5-base, perl-modules, python (>= 2.4), python-gtk2, python-glade2, desktop-file-utils, lib32asound2
Conflicts: cxoffice, cxoffice-xandros, cxoffice2, cxoffice5, ia32-crossover-demo-xandros, ia32-crossover-pro-xandros, ia32-crossover-xandros
Replaces: cxoffice, cxoffice-xandros, cxoffice2, ia32-crossover-demo-xandros, ia32-crossover-pro, ia32-crossover-pro-canonical-demo, ia32-crossover-pro-demo, ia32-crossover-pro-xandros, ia32-crossover-standard, ia32-crossover-standard-canonical-demo, ia32-crossover-standard-demo, ia32-crossover-xandros
Provides: cxoffice5
Section: non-free/otherosfs
Priority: extra
Homepage: http://www.codeweavers.com
Description: Run Windows applications like MS Office
 CrossOver Linux makes it possible to run Windows productivity applications
 such as Microsoft Office, and Quicken, and also lets you play Windows games
 like Skyrim and World of Warcraft.
