#############################################################################
%packages
#[packages]# debian package managment helpers
tasksel apt-file dlocate software-properties-common # add-apt-repositories
aptitude wajig
debconf debconf-utils
# gnome and unity dekstop registry manipulation
gconf-editor
# gnome and unity desktop visual manipulation
compizconfig-settings-manager
# gnome fallback desktop
#gnome-session-fallback
#[cifs]# cifs
samba cifs-utils winbind
#[fuse]# sshfs
fuse-utils sshfs
# vnc
x11vnc xinetd netcat-openbsd

# VPN
openconnect

#[compression]# compression
p7zip p7zip-full pigz unrar-free

# Remote connections
remmina remmina-plugin-nx remmina-plugin-rdp remmina-plugin-vnc

# pdf
okular
cups-pdf

# pidgin
pidgin pidgin-plugin-pack pidgin-sipe pidgin-themes pidgin-twitter pidgin-facebookchat pidgin-encryption pidgin-librvp pidgin-extprefs

#[programming]# programming
build-essential
mpich2 gfortran cfortran gromacs tkgate

